{{#if addNewRecord}}
  <h3>Sell Some Vinyl! - Add a Record for Sale:</h3>
    <div>
      <form id="new record form">
        <div class="form-group">
          <label for="artist">Artist: </label>
          {{input value=artist id='artist'}}
        </div>

        <div class="form-group">
          <label for="album">Album: </label>
          {{input value=album id='album'}}
        </div>

        <div class="form-group">
          <label for="year">Year: </label>
          {{input value=year id='year'}}
        </div>

        <div class="form-group">
          <label for="genre">Genre: </label>
            {{#x-select action="selectGenre"}}
              {{#x-option value='blues' selected=true}}Blues{{/x-option}}
              {{#x-option value='country'}}Country{{/x-option}}
              {{#x-option value='electronic'}}Electronic{{/x-option}}
              {{#x-option value='hip-hop'}}Hip-Hop{{/x-option}}
              {{#x-option value='jazz'}}Jazz{{/x-option}}
              {{#x-option value='pop'}}Pop{{/x-option}}
              {{#x-option value='rnb'}}RnB{{/x-option}}
              {{#x-option value='rock'}}Rock{{/x-option}}
              {{#x-option value='world'}}World{{/x-option}}
            {{/x-select}}
        </div>

        <div class="form-group">
          <label for="cost">Cost: </label>
          {{input value=cost id='cost'}}
        </div>

        <button {{action 'saveNewRecord1'}}>Save</button>
      </form>
    </div>
  {{else}}
    <button {{action 'newRecordFormShow'}}>Add a Record for Sale</button>
  {{/if}}
